@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
/*@import "./utils/mixins";*/
* a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: white;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.explore_button {
  text-align: center;
  font-size: 1em;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px 0 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 50px;
}

.explore_button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
          box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
}

/* Header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.39);
}

.photoresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 300px;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .photoresto {
    height: 500px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .photoresto {
    height: 500px;
  }
}

.photoresto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Menu*/
.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #f5f5f5;
  border-radius: 30px 30px 0 0;
  padding: 20px 20px 40px 20px;
  position: relative;
  margin-top: -70px;
  /* Desktop version */
  /*media tablet*/
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .menus {
    padding: 20px 20px 60px 20px;
  }
}

.menus__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menus__subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menus__resto {
  font-family: "Shrikhand", sans-serif;
}

.menus__meni {
  font-weight: lighter;
  text-transform: uppercase;
}

.menus__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1150px) {
  .menus__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .menus__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 20px 40px 20px;
  }
}

.menus__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .menus__info {
    margin: 20px;
    width: 28%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .menus__info {
    margin: 20px;
    width: 28%;
  }
}

.menus a::after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 3px;
  border-bottom: 5px solid #99E2D0;
}

.menus__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: lighter;
  -webkit-animation: menu-load 1s ease-in;
          animation: menu-load 1s ease-in;
}

@-webkit-keyframes menu-load {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu-load {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menus__h2 {
  padding-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menus__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.39);
  -webkit-animation: transitionIN 2s ease-in-out;
          animation: transitionIN 2s ease-in-out;
}

@-webkit-keyframes transitionIN {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10deg);
            transform: translateY(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes transitionIN {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10deg);
            transform: translateY(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menus__nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menus__tittle {
  margin: 0;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menus__subtittle p {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menus__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menus__price {
  padding: 10px;
  font-size: 1em;
  font-weight: lighter;
  font-weight: bold;
}

.menus__button {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 1em;
  color: white;
  width: fit-content;
  text-align: center;
  padding: 0 20px 0 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 50px;
}

.menus__button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
          box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
}

.menus h4 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.check {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 0 20px 20px 0;
  margin-right: -60px;
  opacity: 0;
}

.check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -80px;
  width: 80px;
  height: 100%;
  background: #99E2D0;
  -webkit-animation: slide 0.5s forwards;
          animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

.check_icon {
  padding: 20px;
  border-radius: 0 20px 20px 0;
  font-size: 2em;
  color: white;
}

.check:hover .fa-check-circle {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menus__option:hover .check {
  margin-right: 0;
  opacity: 1;
  -webkit-transition: margin-right 400ms ease-in;
  transition: margin-right 400ms ease-in;
}

/*Location*/
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
}

.location__cityname {
  padding-left: 10px;
}

.location__icon {
  font-size: 1.1em;
}

/*Explore*/
.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.explore__tittle {
  text-align: center;
  font-size: 1.5em;
}

.explore__text {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.explore__button {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 1em;
  color: white;
  width: fit-content;
  text-align: center;
  padding: 0 20px 0 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 50px;
}

.explore__button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
          box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
}

/*Fonctionnement*/
.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
}

.selection__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .selection__part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .selection__part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
}

.selection__icon {
  color: #585858;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1em;
  width: 1em;
  height: 1em;
  padding-left: 30px;
}

.selection__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  margin: 0 0 20px 0;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.39);
  /* Desktop version */
  /*media tablet*/
}

.selection__options:hover {
  background-color: #eadbff;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
          box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
}

@media (min-width: 1150px) {
  .selection__options {
    margin: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .selection__options {
    margin: 10px;
  }
}

.selection__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1em;
  height: 1em;
  padding: 4px;
  border-radius: 50%;
  padding: 2px;
  margin-left: -10px;
  text-align: center;
  color: white;
  background-color: #9356DC;
}

.selection__info {
  padding-left: 30px;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .selection__info {
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .selection__info {
    padding-right: 10px;
  }
}

/*Restaurants*/
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 20px 40px 20px;
  background-color: #f5f5f5;
}

.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.resto__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 10px;
  margin: 0;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .resto__card {
    width: 45%;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .resto__card {
    width: 45%;
    padding: 10px;
  }
}

.resto__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95%;
  width: 100%;
  margin: 10px 0 20px 0;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.39);
}

.resto__section:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
          box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.59);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.resto__newLEFT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10%;
  height: 2em;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 10px 0 10px;
  color: #1b6150;
  background-color: #99E2D0;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .resto__newLEFT {
    right: 0%;
    left: 37%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .resto__newLEFT {
    right: 0%;
    left: 37%;
  }
}

.resto__newRIGHT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10%;
  height: 2em;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 10px 0 10px;
  color: #1b6150;
  background-color: #99E2D0;
  /* Desktop version */
  /*media tablet*/
}

@media (min-width: 1150px) {
  .resto__newRIGHT {
    right: 7%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .resto__newRIGHT {
    right: 7%;
  }
}

.resto__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.resto__img {
  height: 190px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.resto__name, .resto h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0 0 10px 0;
}

.resto__location {
  font-weight: lighter;
  margin: 0;
}

/* Footer*/
* a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.footer {
  padding: 20px;
  background-color: #474747;
  color: #fff;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Shrikhand", sans-serif;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  margin: 0%;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  padding-left: 10px;
  padding-bottom: 10px;
}

.footer__link, .footer h3 {
  margin: 0;
}

/* HEARTMENU */
.like__heart {
  font-size: 1.5em;
  position: absolute;
  right: 10%;
}

.like__heartfull {
  font-size: 1.5em;
  position: absolute;
  right: 10%;
  opacity: 0;
  background-color: white;
}

.like__heartfull:hover {
  cursor: pointer;
  -webkit-animation: backgroundtwo  2s;
  animation: backgroundtwo 2s;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes backgroundtwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundtwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.39);
}

.header__arrow {
  position: absolute;
  font-size: 1.5em;
  top: 28px;
  left: 60px;
}

/*Loading spinner*/
.loading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  visibility: hidden;
  -webkit-animation: loading 3s ease;
          animation: loading 3s ease;
}

@-webkit-keyframes loading {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loading {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner::after {
  content: "";
  width: 150px;
  height: 150px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: spinner 3s ease-in-out;
          animation: spinner 3s ease-in-out;
}

@-webkit-keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}

.dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dot::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: rotate 3s ease-in-out;
          animation: rotate 3s ease-in-out;
}

@-webkit-keyframes rotate {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes rotate {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */