/* HEARTMENU */ 
.like__heart{
    font-size: 1.5em;
    position: absolute;
    right: 10%;
   
}


.like__heartfull{
    
    font-size: 1.5em;
    position: absolute;
    right: 10%;
    opacity: 0;
    background-color: white;
   
    &:hover{

            cursor:pointer; 
            -moz-animation:backgroundtwo 2s  ;
            -webkit-animation:backgroundtwo  2s  ;
            animation: backgroundtwo 2s  ;
            background:-webkit-linear-gradient( #9356dc,#ff79da);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
       
        }

   
@keyframes backgroundtwo{
    0%{
      opacity:0;
    }
    50%{
      opacity:0.5;
    }
    100%{
      opacity:1;
    }
  }
}


   
