
.heart{
 
 align-items: center;
  width:1.5em;
  height: 1.5em;
  padding: 0 20px 0 70px;
  
}

.outlineheart{
  position:absolute;
  
  font-size:1.5em;  
  width:1.5em;
  height: 1.5em;
  color: grey;

}
.fullheart{
  position:absolute;
 
  font-size:1.5em;  
  width:1.5em;
  height: 1.5em;
  

}

.fullheart svg * {
  fill: url(#lgrad);

}

.gradient {
  
 
  opacity: 0;

  &:hover{

      cursor:pointer; 
        -moz-animation:backgroundtwo 2s  ;
        -webkit-animation:backgroundtwo  2s  ;
        animation: backgroundtwo 2s  ;
        background:-webkit-linear-gradient(47deg, #9356DC 0%, #FF79DA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
  
  }
}



@keyframes backgroundtwo{
  0%{         
    opacity:0;
  }
  50%{
    opacity:0.5;
  }
  100%{
    opacity:1;
  }
}



