

.photoresto{
    display: flex;
    position: relative;
    height: 300px;
    /* Desktop version */ 
    @media (min-width:1150px) {
        height: 500px;
    }
/*media tablet*/
    @media screen and (min-width:768px) and (max-width:1150px){
        height: 500px;
    }

}
.photoresto img{
    
    width: 100%;
    object-fit: cover

  
}




/*Menu*/
.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: $lightgrey;
    border-radius: 30px 30px 0 0 ;
    padding: 20px 20px 40px 20px;
   
    position: relative;
    margin-top: -70px;

     /* Desktop version */ 
     @media (min-width:1150px) {
       
    }
/*media tablet*/
    @media screen and (min-width:768px) and (max-width:1150px){
        padding: 20px 20px 60px 20px;
    }


 
  
   
    &__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

   

    &__subtitle{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__resto{
        
        font-family: $logo-font;
    }

    

    &__meni{
        font-weight: lighter;
        text-transform: uppercase;
    }


    &__all{
    
        display: flex;
        flex-direction: column;

        @media (min-width:1150px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media screen and (min-width:768px) and (max-width:1150px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 20px 40px 20px;
        }
    }
       

    &__info{
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
 /* Desktop version */ 
      @media (min-width:1150px) {
            margin: 20px;
            width: 28%;
        }
/*media tablet*/
        @media screen and (min-width:768px) and (max-width:1150px){
            margin: 20px;
            width: 28%;
        }
    }

    a::after {
        
        content: "";
        display: block;
        width: 50px;
        padding-top: 3px;
        border-bottom: 5px solid $color-tertiary;
    } 

    &__block {
        display: flex;
        flex-direction: column;
        font-weight: lighter;

    } 

    &__h2{
        padding-left: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    
     
  

    &__option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 10px;
       
        box-shadow: $shadow-box;
        overflow: hidden;


        animation: scale 1s ease-in;
        @keyframes scale {
                        from {
                        transform: scale(0);
                        }
                        to {
                        transform: scale(1);
                        }
                    }

    }
   
    

    &__nom{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
       
    }

    &__tittle{
        margin: 0;
        padding-bottom: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__subtittle p{
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        
    }

    &__description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    }

    &__price{
        padding: 10px;
        font-size: 1em;
        font-weight: lighter;
        font-weight: bold;
        
      
    }

   
  
   
    &__button{
       
        margin: auto;
        justify-content: center;
        align-items: center;
        width: fit-content;
        text-align: center;
        font-size: 1em;
        color: white;
        width: fit-content;
        text-align: center;
        padding:0 20px 0 20px ;
        background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        border-radius: 50px;

        &:hover{
            opacity: 0.8;
            box-shadow: $shadow-darker;
        }
 

}


h4{
    margin:0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.delay1{
    animation-delay: 200ms;
}
.delay2{
   animation-delay: 300ms;
}

.delay3{
    animation-delay: 400ms;
 }
 
.delay4{
    animation-delay: 500ms;
 } 

.delay5{
    animation-delay: 600ms;
}

.delay6{
    animation-delay: 700ms;
}

.delay7{
    animation-delay: 800ms;
}

.delay8{
    animation-delay: 900ms;
}

.delay9{
    animation-delay: 1000ms;
}

.delay10{
    animation-delay: 1100ms;
}

 

.check{
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 80px;
   border-radius: 0 20px 20px 0;
   margin-right: -60px;
   opacity: 0;
 
}
.check_box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -80px;
    width: 80px;
    height: 100%;
    background: $color-tertiary;
    
    animation: slide 0.5s forwards;
    animation-delay: 2s;

    @keyframes slide {
        100% { right: 0; }
    }
    
    @keyframes slide {
        100% { right: 0; }
    }
}

.check_icon{

    padding: 20px;
    border-radius: 0 20px 20px 0;
    font-size: 2em;
    color: white;


}

.check:hover .fa-check-circle{
    
    transition: 1s;
    transform: rotate(360deg);
   

}


.menus__option:hover .check{
    margin-right: 0;
    opacity: 1;
    transition: margin-right 400ms ease-in;
}

}