/*Restaurants*/

.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 20px 40px 20px;
    background-color: $lightgrey;
}

.resto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    /* Desktop version */ 
    @media (min-width:1150px) {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-around;
    }
/*media tablet*/
    @media screen and (min-width:768px) and (max-width:1150px){
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__card{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        height: fit-content;
        padding-bottom: 10px;
        margin: 0;
        
          /* Desktop version */ 
    @media (min-width:1150px) {
        width: 45%; 
        padding: 10px;
    }
/*media tablet*/
    @media screen and (min-width:768px) and (max-width:1150px){
        width: 45%; 
        padding: 10px;
    }


       
  
      
    }

    &__section{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        height: 95%;
        width: 100%;
        margin: 10px 0 20px 0;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: $shadow-box;

        &:hover{
            opacity: 0.8;
            box-shadow: $shadow-darker;
            transform: scale(1.02);
          
        }
       
    }

    &__newLEFT{
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        align-items: center;
        position: absolute;
        right: 10%;
        height: 2em;
        border-radius: 5px;
        margin-top: 10px;
        padding: 0 10px 0 10px;
        color: darken($color-tertiary, 50%);
        background-color: $color-tertiary;

/* Desktop version */ 
    @media (min-width:1150px) {
        right: 0%;
        left: 37%;
    }
/*media tablet*/
    @media screen and (min-width:768px) and (max-width:1150px){
        right: 0%;
        left: 37%;
    }


    }


    &__newRIGHT{
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        align-items: center;
        position: absolute;
        right: 10%;
        height: 2em;
        border-radius: 5px;
        margin-top: 10px;
        padding: 0 10px 0 10px;
        color: darken($color-tertiary, 50%);
        background-color: $color-tertiary;

/* Desktop version */ 
    @media (min-width:1150px) {
        right: 7%;
        
    }
/*media tablet*/
    @media screen and (min-width:768px) and (max-width:1150px){
        right: 7%;
        
    }
    
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    &__img{
        height: 190px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    
   
    
    &__name, h2 {
        font-size: 1.5em;
        margin:0;
        padding: 0 0 10px 0;
    }
    &__location{
        font-weight: lighter;
        margin:0;
    }

    &__heart {
        font-size: 1.5em;
    }

 
  
}







        
