
@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* General */


body{

    font-family: 'robotoregular', sans-serif;   
  
    margin: 0px;
    width: auto;
}
/* Header */ 

.Headerlogo{
    height: auto;
    padding:10px
}

.Headerlogo{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1em;
}

/*Explorer notre restaurants*/


.ExplorerREST{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fafafa;
}

.ExploreBUTTON{
    display:flex;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    background-color: pink;
    border-width: 0;
}

/* Fonctionement */
.Fonctionement{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:#ffffff;
}

.funct{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}   
.funct p {
    padding-left: 10px;
}



/* Restaurants */

.Restaurants{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:#f6f6f6;
}

.Restaurantssection{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #ffffff;

}

.IMGRESTO{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  
}
.inforest{
   padding: 10px;

}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(85, 85, 85);
}

.Footerlogo{
    color: white;
}

.lists{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


