
.restaurants__like{

   
    &:hover{
        
        transition: 0.5s;
        content: "";
        fill:linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        color: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        
     
    }

  
    }


